* {
  margin: 0;
  padding: 0;
}
body{
 width:100%;
}
.h-1 {
  background-color:blue;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
ul{
  display: inline;
}
.h-1 ul li {
  list-style-type: none;
  display: inline;
  margin-left: 5px;
}

i {
  background-color: white;
  color:blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 14px;
  text-align: center;
  padding:6px;
}
.text{
  font-size: 1.2em;
  margin-left:50px;
  color: white;
  margin-right: 50px;
}
.button{
  color: green;
  width: 80px;
  margin-left:7px;
  padding:3px;
}
.h-2{
  margin-top: 10px;
  position:sticky;
  top: 0;
  z-index: 2;
}
.h-2 img{
  width: 200px;
  margin-left: 10px;
  float: left;
  margin-right:90px;
}
 .h-2 ul li a {
 text-decoration: none;
 color:black;
 font-size: 1.2em;
 text-align: center;
 text-decoration: none;
 margin-top: 24px;
 width: 150px;
 padding: 16px;
}
.h-2 ul li{
  list-style-type: none;
  display: inline;
  margin-left:10px;
}
 .h-2 ul li a:hover{
   color:white;
   background-color: blue;
   border-radius: 25%;
 }
.slider{
  width: 100%;
  margin-top: 50px;
}
.intro{
  text-align: center;
  margin-top: 50px;
}
.intro-logo img{
  width:100px;
  
}
.intro-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center{
  padding: 100px;
  text-align: left;
  font-size: 1.3em;
}
.showcase{
  width: 100%;
  height:300px;
  background-color: blue;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.showimage1{
  width: 200px;
}
.showimage1 img{
  width: 100px;
  margin-left: 150px;
  margin-top: 50px;
}
.showimage1 h1{
  color: white;
  font-size: 4em;
  margin-left:95px;
  display: inline;
}
.showimage1 h5{
  margin-left: 150px;
  color: white;
  font-size: 2em;
  display: inline;
}
.showimage2{
  width:200px;
}
.showimage2 img{
  width: 100px;
  margin-left: 220px;
  margin-top: 50px;
}
.showimage2 h1{
  color: white;
  margin-left: 190px;
  font-size: 4em;
}
.showimage2 h5{
  margin-left: 210px;
  color: white;
  font-size: 2em;
}
.showimage3{
  width: 200px;
}
.showimage3 img{
  width: 100px;
  margin-left: 290px;
  margin-top: 50px;
}
.showimage3 h1{
  margin-left: 260px;
  font-size: 4em;
  color:white;
}
.showimage3 h5{
  margin-left:250px;
  color: white;
  font-size: 2em;
}
.showumage4{
  width: 200px;
}
.showimage4 img{
  width:100px;
  margin-left: 370px;
  margin-top: 50px;
}
.showimage4 h1{
  color: white;
  font-size: 4em;
  margin-left: 310px;
}
.showimage4 h5{
  color: white;
  font-size: 2em;
  margin-left: 320px;
}
.services h1 span{
 color: green;
}
.services h1{
  color: blue;
  text-align: center;
  margin-top: 200px;
}
.row{
  display:flex;
  align-content: center;
  flex-wrap: wrap-reverse;
  gap:2rem;
}
.box-container{
  flex:1 1 40rem;
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
}
.box{
  flex:1 1 18rem;
  text-align: center;
  padding:2rem;
  border-radius: .5rem;
  box-shadow:.4rem .4rem 1rem #111,
               -.4rem -.4rem 1rem white;
  margin-top: 50px;             
}
.box h1{
  color:blue;
}
.M-E{
  width: 800px;
  margin-top: 50px;
  text-align: center;
}
.M-E h1{
  color:blue;
  font-size: 2em;
}
.box2{
  flex:1 1 18rem;
  text-align: center;
  padding:2rem;
  border-radius: .5rem;
  box-shadow:.4rem .4rem 1rem #ccc inset,
             -.4rem -.4rem 1rem #fff inset;
}
.box2 img{
  float: left;
}
.row2{
  display:flex;
  align-content: center;
  flex-wrap: wrap-reverse;
  gap:2rem;
  float: left;
}
.side{
  width: 300;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.side h1{
  color: blue;
}
.side marquee {
  width:200px;
}
.image-gallery{
  width: 100%;
}
.image-gallery .images{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}
.image-gallery h1{
  color:blue;
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
}
.image-gallery span{
  color: green;
}
.image-gallery img{
  width: 220px;
  margin-left: 16px;
  margin-top: 50px;
}
.footer{
  background-color:blue;
  margin-top: 50px;
  color: white;
  text-align: center;
  font-size: 2em;
}

